/* media query tablet */

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 0;
    }
}





/* media query mobile */

@media screen and (max-width: 480px) {
    .container {
        width: 70%;
        padding: 0;
    }

    .lessons .col {
        width: 100%;
    }

    .row {
        flex-direction: column;
        gap: 80px;
    }

    .steps .col {
        width: 100%;
    }

    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
    }
}