/* media query bonus 768px to 1160px */
@media screen and (max-width: 1160px){
    .container{
        width: 80%;
        margin: 0 auto;
    }
}








/* media query tablet */

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 0;
    }
}





/* media query mobile */

@media screen and (max-width: 480px) {
    .container {
        width: 80%;
        padding: 0;
    }

    .lessons .col {
        width: 100%;
    }

    .row {
        flex-direction: column;
        gap: 80px;
    }

    .steps{
        margin-bottom: 0;
    }

    .steps .col {
        width: 100%;
    }

    .why-us {
        background-color: #222222;
        margin-bottom: 0;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }

    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
    }
}